/**
 * File contains sass function that creates classes for each available color
 */
@use "../colors.scss";
@use "../functions" as fn;

$map-keys: colors.$color-map !default;

// Foreground colors
@each $color-name, $color-value in $map-keys {
  .color-#{$color-name} {
    color: fn.fg($color-value) !important;
  }
}

// Background colors
@each $color-name, $color-value in $map-keys {
  .color-bg-#{$color-name} {
    background-color: fn.bg($color-value) !important;
  }
}

// Same as previous but for both and CSS variables
// "pal" means palette
@each $color-name, $color-value in colors.$color-map {
  .pal-#{$color-name} {
    --fg-color: #{fn.fg($color-value)};
    --bg-color: #{fn.bg($color-value)};
  }
}
