.dragging {
  pointer-events: none;
  user-select: none;
  cursor: var(--cursor-grabbing);
}

.moving {
  cursor: var(--cursor-grab);
}

.resizing-x {
  cursor: var(--cursor-resize-horizontal);
}

.resizing-y {
  cursor: var(--cursor-resize-verical);
}

.resizing-both {
  cursor: var(--cursor-resize-diagonal);
}

.fluid {
  width: 100%;
}

.monospace {
  font-family: var(--font-family-mono);
}
