$roboto-size-adjust: 100% !default;

/* Regular font */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  size-adjust: $roboto-size-adjust;
  src: url("./fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  size-adjust: $roboto-size-adjust;
  src: url("./fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  size-adjust: $roboto-size-adjust;
  src: url("./fonts/Roboto-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  size-adjust: $roboto-size-adjust;
  src: url("./fonts/Roboto-BoldItalic.woff2") format("woff2");
}

/* Monospace font */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
}
