/* Regular font */
@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/Arimo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/Arimo-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Arimo";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/Arimo-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Arimo";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/Arimo-BoldItalic.woff2") format("woff2");
}

/* Monospace font */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
}

