/**
 * TGUI
 * Base variables
 *
 * This file contains all values, like spacings, sizes, etc.
 * You won't find any colors here, just numbers and letters.
 *
 * Made with love by Aylong (https://github.com/AyIong)
 */

@use "functions" as fn;

:root {
  // MARK: Fonts
  --font-size: 12px;
  --font-family: Arimo, sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;

  // MARK: Border width
  --border-width-unit: #{fn.rem(1px)};
  /* 1px */
  --border-width-1: var(--border-width-unit);
  /* 2px */
  --border-width-2: calc(var(--border-width-unit) * 2);
  /* 3px */
  --border-width-3: calc(var(--border-width-unit) * 3);
  /* 4px */
  --border-width-4: calc(var(--border-width-unit) * 4);
  /* 6px */
  --border-width-5: calc(var(--border-width-unit) * 6);

  // MARK: Border radius
  --border-radius-unit: #{fn.rem(2px)};
  /* 2px */
  --border-radius-1: var(--border-radius-unit);
  /* 4px */
  --border-radius-2: calc(var(--border-radius-unit) * 2);
  /* 6px */
  --border-radius-3: calc(var(--border-radius-unit) * 3);
  /* 12px */
  --border-radius-4: calc(var(--border-radius-unit) * 6);
  /* 24px */
  --border-radius-5: calc(var(--border-radius-unit) * 12);
  /* Maximum border radius. Makes perfect circles */
  --border-radius-c: 99999px;

  // MARK: Margins
  --margin-unit: #{fn.rem(1px)};
  /* 1px */
  --margin-xxs: var(--margin-unit);
  /* 2px */
  --margin-xs: calc(var(--margin-unit) * 2);
  /* 3px */
  --margin-s: calc(var(--margin-unit) * 3);
  /* 4px */
  --margin-sm: calc(var(--margin-unit) * 4);
  /* 6px */
  --margin-m: calc(var(--margin-unit) * 6);
  /* 8px */
  --margin-ml: calc(var(--margin-unit) * 8);
  /* 10px */
  --margin-l: calc(var(--margin-unit) * 10);
  /* 12px */
  --margin-xl: calc(var(--margin-unit) * 12);
  /* 24px */
  --margin-xxl: calc(var(--margin-unit) * 24);

  // MARK: Paddings
  --padding-unit: #{fn.em(1px)};
  /* 1px */
  --padding-xxs: var(--padding-unit);
  /* 2px */
  --padding-xs: calc(var(--padding-unit) * 2);
  /* 3px */
  --padding-s: calc(var(--padding-unit) * 3);
  /* 4px */
  --padding-sm: calc(var(--padding-unit) * 4);
  /* 6px */
  --padding-m: calc(var(--padding-unit) * 6);
  /* 8px */
  --padding-ml: calc(var(--padding-unit) * 8);
  /* 10px */
  --padding-l: calc(var(--padding-unit) * 10);
  /* 12px */
  --padding-xl: calc(var(--padding-unit) * 12);
  /* 24px */
  --padding-xxl: calc(var(--padding-unit) * 24);

  // MARK: Transition times
  --transition-time-unit: 1s;
  /* 0.1s | 100ms */
  --transition-time-fast: calc(var(--transition-time-unit) * 0.1);
  /* 0.2s | 200ms */
  --transition-time-medium: calc(var(--transition-time-unit) * 0.2);
  /* 0.5s | 500ms */
  --transition-time-slow: calc(var(--transition-time-unit) * 0.5);
  /* 1s | 1000ms */
  --transition-time-slowest: var(--transition-time-unit);

  // MARK: Shadows
  --shadow-unit: 1rem;
  /* 0 0 0.5rem */
  --shadow-glow-small: 0 0 calc(var(--shadow-unit) * 0.5);
  /* 0 0 1rem */
  --shadow-glow-medium: 0 0 var(--shadow-unit);
  /* 0 0 2rem */
  --shadow-glow-large: 0 0 calc(var(--shadow-unit) * 2);

  // MARK: Blur
  --blur-small: blur(6px);
  --blur-medium: blur(12px);
  --blur-large: blur(24px);

  // MARK: Color adjustment
  /* Color lightness multiplier. + for FG - for BG */
  --adjust-color: 0.05;
  /* Color lightness multiplier when hovered */
  --adjust-hover: 0.1;
  /* Color lightness multiplier when active (clicked) */
  --adjust-active: 0.075;

  /* Cursors */
  --cursor-default: default;
  --cursor-pointer: pointer;
  --cursor-grab: grab;
  --cursor-disabled: var(--cursor-default);
  --cursor-n-resize: n-resize;
  --cursor-s-resize: s-resize;
  --cursor-se-resize: se-resize;
  --cursor-e-resize: e-resize;
}
