@use "./functions" as fn;

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-size: var(--font-size, 12px);
  color: var(--color-text, hsl(0, 0%, 100%));
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-base);
}

html {
  cursor: var(--cursor-default, default); // Reset the cursor.
  overflow: hidden;
}

body {
  overflow: auto;
  position: relative;
  font-family: var(--font-family, Verdana, Geneva, sans-serif);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /**
   * In-game UI's are generally quite compact and never take up the entire screen.
   * Default scrollbars takes up too much screen space.
   * But thin scrollbar takes exactly `space-ml` width.
   */
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  padding: var(--space-m, 6px) 0;
  padding: var(--space-m, 0.5rem) 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.333rem;
}

h3 {
  font-size: 1.167rem;
}

h4 {
  font-size: 1rem;
}

td,
th {
  vertical-align: baseline;
  text-align: left;
}

// Remove any default styles
blockquote,
input,
textarea,
button,
fieldset {
  all: unset;
}
